.content {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h3 {
    margin: 0 0 5px 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.technologies p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 1);
}

.credits {
    margin: 10px 0 0 0;
}

.credits p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 1);
}

.credits p:not(:last-child) {
    margin: 0 0 10px 0;
}

.credits p a {
    border-radius: 4px;
    color: rgba(61, 133, 240, 1);
    background-color: rgba(61, 133, 240, 0);
    transition-duration: 200ms;
}

.credits p a:hover {
    background-color: rgba(61, 133, 240, 0.1);
    text-decoration: underline;
}

.code {
    margin: 10px 0 0 0;
}

.code .label {
    padding: 0 0 10px 0;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.9);
}

.updates h3 {
    margin: 0 0 5px 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.overflow {
    border-radius: 8px;
    max-height: 320px;
    overflow-y: scroll;
    background-color: rgba(35, 35, 35, 1);
}

/*Update*/
.container {
    padding: 15px;
}

.container:not(:last-child) {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.05);
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}

.title p {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-weight: 600;
}

.title svg {
    margin: 0 0 0 10px;
    color: rgba(255, 255, 255, 0.8);
    height: 22px;
}

.timestamp {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.timestamp span {
    color: rgba(255, 255, 255, 0.2);
}

.entry {
    padding: 10px 0 0 0;
}

.version {
    font-size: 2rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
}

.description {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.changelog {
    margin: 10px 0 0 0;
    list-style-position: inside;
}

.changelog li {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
