.hero h1 {
    margin: 30px 0 0 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}

.hero h1 span {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
}

.explorer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.02);
}

.item div h3 {
    letter-spacing: -1px;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
}

.item div .description {
    max-width: 230px;
    margin: 5px 0 30px 0;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}
