.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: 2rem;
    max-width: 1080px;
    margin: 0 auto;
}

.top {
    background-color: rgba(20, 20, 20, 0);
}

.bottom {
    overflow-y: auto;
    background-color: rgba(20, 20, 20, 1);
}
