.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    gap: 0px;
}

.content {
    padding: 2rem;
    max-width: 1080px;
    margin: 0 auto;
}

.bottom {
    background-color: #1e1e1e;
}

.content {
    padding: 2rem;
    max-width: 1080px;
    margin: 0 auto;
}
