.header {
    position: relative;
}

.titlebar {
    display: flex;
}

.title {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.4);
    max-width: 1080px;
}

.tilt {
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 0;
}

.tilt svg {
    color: rgba(10, 10, 10, 1);
    height: 60px;
}

.content {
    padding: 20px;
    max-width: 1080px;
    margin: 0 auto;
    overflow-y: auto;
}
