.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline;
}

.nav ul li:not(:last-child) {
    margin: 0 20px 0 0;
}

.nav ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    transition-duration: 200ms;
}

.nav ul li a:hover {
    opacity: 0.6;
}

.image {
    box-sizing: content-box;
    border-radius: 8px;
}

.buttons {
    display: flex;
    align-items: center;
}
