.container {
    position: relative;
    padding: 20px 20px 0 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline;
    padding: 3px 6px;
    border-radius: 4px;
}

.nav ul li.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav ul li:not(:last-child) {
    margin: 0 10px 0 0;
}

.nav ul li a {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    transition-duration: 200ms;
}

.nav ul li a:hover {
    font-weight: 600;
}

.image {
    box-sizing: content-box;
    border-radius: 8px;
}

.buttons {
    display: flex;
    align-items: center;
}
