.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h3 {
    margin: 0 0 5px 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
}

.webmaster p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.9);
}

.credits {
    margin: 10px 0 0 0;
}

.credits p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.9);
}

.credits p:not(:last-child) {
    margin: 0 0 10px 0;
}

.credits p a {
    border-radius: 4px;
    color: rgba(61, 133, 240, 1);
    background-color: rgba(61, 133, 240, 0);
    transition-duration: 200ms;
}

.credits p a:hover {
    background-color: rgba(61, 133, 240, 0.1);
    text-decoration: underline;
}

.code {
    margin: 10px 0 0 0;
}

.code .label {
    padding: 0 0 10px 0;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.9);
}

.updates h3 {
    margin: 0 0 5px 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
}

.overflow {
    border-radius: 8px;
    max-height: 320px;
    overflow-y: scroll;
    background-color: rgba(35, 35, 35, 1);
}
